// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: linear-gradient(to left, #fc5c7d, #6a82fb);
$light-gray: linear-gradient(to left, #fc5c7d, #6a82fb);
